
.counter-container {
  text-align: center;
  margin-top: 50px;
}

.counter-text {
  font-size: 70px;
  margin-bottom: 20px;
}

.counter-textarea{
  font-size: 40px;
}
.button_1{
  background-color: rgb(178, 138, 43);
  border-radius: 5px;
  font-size: 40px;
}
.button_2{
  background-color: rgb(178, 138, 43);
  border-radius: 5px;
  font-size: 25px;
}
input{

  resize: none; /* 사이즈 조절 x */
  outline: none; /* 창에 입력하려고 눌렀을 때 파랗게 포거싱?이 안 되게 하는 */
}

ul{
  font-size: 25px;
}

