body {
    align-items: center;
    text-align: center;
    margin-top: 250px;
}

h1 {
    margin-left: 80px;
}

.add-List {
    margin-top: 20px;
}

.add-ListName {
    margin-right: 10px;
    height: 30px;
    width: 250px;
    margin-left: 100px;
}

.add-btn {
    margin-left: 10px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.A {
    cursor: pointer;
    list-style: none;

}


